/**
 * Override twitter profile widget default css
 */
#twitter_profile_widget .twtr-tweet-wrap {
  padding: 13px 8px 12px;
}

#twitter_profile_widget .twtr-tweet {
  border-bottom: 1px solid #DBE1E7;
}

#twitter_profile_widget .twtr-bd p {
  font-size: 12px;
  line-height: 16px !important;
}

#twitter_profile_widget .twtr-bd p em {
  line-height: 1.2;
} 

/**
 * Module custom css
 */
.tpw_title {
  background: url(images/twitter_icon.png) no-repeat left center;
  padding-left: 40px;
  text-decoration: none;
}
  
.twitter_profile_widget .twp_bottom {
  padding: 13px 0 8px 11px;
}

.twitter_profile_widget .twp_bottom a {
  background: url("images/follow_icon.png") no-repeat scroll left center transparent;
  color: #0077AA;
  display: inline-block;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  padding-left: 22px;
  text-decoration: underline;
}

.twitter_profile_widget .twp_bottom a:hover {
  text-decoration: none;
}
