.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-30-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-30-inside {
  padding-right: 0px;
}

.panels-flexible-30 {
  width: auto;
}

.panels-flexible-region-30-top {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-30-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-30-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-30-main-row-inside {
  padding-right: 0px;
}

