.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0em;
  padding-left: 0em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 1em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-53-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-53-inside {
  padding-right: 0px;
}

.panels-flexible-53 {
  width: auto;
}

.panels-flexible-region-53-block1 {
  float: left;
  width: 32.9751%;
}

.panels-flexible-region-53-block2 {
  float: left;
  width: 32.9584%;
}

.panels-flexible-region-53-block3 {
  float: left;
  width: 33.0665%;
}

.panels-flexible-row-53-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-53-home_bottom_left1 {
  float: left;
  width: 33.0191%;
}

.panels-flexible-region-53-bottom_region {
  float: left;
  width: 32.9904%;
}

.panels-flexible-region-53-home_right_1 {
  float: left;
  width: 32.9904%;
}

.panels-flexible-row-53-2-inside {
  padding-right: 0px;
}

