sup {
  font-size: 100% !important;
}
span.qr-alt{
   margin: -191px 0 0 -42px;
   width: 291px;
}
#bodyPanel #navPanel .menu-40264.menu-path-search-apachesolr_search.odd.last a {
  padding: 4px 42px 3px 42px !important;
}
